<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | RegShop</title>
    <link rel="stylesheet" href="https://studiouscdn.netlify.app/bundle/bootstrap.css">
    <script src="https://studiouscdn.netlify.app/bundle/bootstrap.js"></script>
    <script src="https://studiouscdn.netlify.app/bundle/jquery.js"></script>
</head>
<body>
    <div class="container mt-5">
        {% block body %}
            
        {% endblock body %}
    </div>
</body>
</html>