{% extends 'base.html' %}
{% block title %}Items | {{shop['name']}}{% endblock title %}
{% block body %}
    <div class="text-center">
        <a href="/shop/{{shop['_id']}}">
            <h2>{{shop['name']}}</h2>
        </a>
        <h5>{{shop['description']}}</h5>
        <a href="/shop/{{shop['_id']}}/items"><button class="btn btn-outline-dark">Shop Items</button></a>
        <a href="/shop/{{shop['_id']}}/receipts"><button class="btn btn-outline-dark">Shop Receipts</button></a>
        <a href="/shop/{{shop['_id']}}/receipt/new"><button class="btn btn-outline-dark">New Receipt</button></a>
    </div>
    <div class="mt-5">
        <div class="text-center">
            <h3>Shop Items</h3>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New Item  <i class="bi bi-plus-square-fill"></i></button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price" placeholder="Enter price">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>  
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in shop['items'] %}
                    <tr>
                        <th scope="row">{{item['_id']}}</th>
                        <td>{{item['name']}}</td>
                        <td>{{item['price']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}